body {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
}

#chat {
  margin-bottom: 20px;
  text-align: left;
  max-height: 70vh;
  overflow-y: auto;
}

.message {
  margin: 10px 0;
}

.mod-pseudo {
  color: violet;
  font-weight: bold;
}

.mod-message {
  color: red;
  font-weight: bold;
  animation: vibrate 0.2s infinite alternate;
}

#title {
  color: red;
  text-shadow: 0 0 10px red;
}

/* Animation pour les messages modérateur */
@keyframes vibrate {
  0% { transform: translateX(0); }
  100% { transform: translateX(2px); }
}
